# Dependencies
node_modules/
package-lock.json

# Build files
build/
dist/

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Truffle
src/truffle_abis/*.json
EOF